* {
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SF Pro Display */
@font-face {
  font-family: 'SF Pro Text';
  font-weight: 400;
  src: url('../fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 600;
  src: url('../fonts/SF-Pro-Text-Semibold.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 700;
  src: url('../fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  src: url('../fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 800;
  src: url('../fonts/SF-Pro-Display-Heavy.otf');
}